/* Mobile design */
@media (max-width: 1068px) {
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    .input-div {
        width: 280px;
        margin: 10px;
        border-radius: 15px;
        padding: .5em;
        background-color: #4e342e;
        display: flex;
        align-items: center;
        opacity: 90%;
    }

    #pass-visibility {
        margin-left: -55px;
        cursor: pointer;
    }

    .login-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
        width: 290px;
        height: max-content;
        border: 2px solid transparent;
        border-radius: 8px;
        margin-left: -15px;
        padding: 1em;
    }

    .menu-icon {
        display: block;
    }

    .login-page {
        display: flex;
        justify-content: space-between;
        margin: 2em;
    }


    #ads-tab {
        display: none;
    }

    #menu {
        top: 0;
        position: fixed;
        height: 45px;
        background-color: #442c27;
        transition: height 10s, background-color 10s;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    #menu-tab {
        top: 55px;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: #4e342e;
        display: none;
        position: inherit;
        flex-direction: row;
        align-items: center;
        padding-top: 20px;
    }

    #menu-items {
        width: 100%;
    }

    #menu-items img {
        padding-left: 150px;
    }

    #middle-tab {
        padding: .5em;
        padding-top: 1px;
        width: fit-content;
    }

    #home-logo {
        margin-left: -40px;
    }

    #news {
        background-color: #5d4037;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 2px;
        transition: width 10s, background-color 10s;
      }

}