<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/logo1.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sent</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
            background-color: #5d4037;
            color: aliceblue;
        }
        .message {
            font-size: 18px;
            padding: 15px;
            border-radius: 5px;
            background-color: #e3f2fd;
            color: #0277bd;
            display: inline-block;
        }
    </style>
</head>

<body>
    <h1>Verify your email</h1>
    <div class="message">
        <p>We have sent a link to your email address.</p>
        <p>Please check your inbox or spam folder.</p>
    </div>

    <p>If you haven't received an email, try again or contact support.</p>

    <a href="/" style="color: yellow;">Go Back</a>
</body>

</html>
