<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms&Conditions | Hustlerati</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="icon" href="/images/logo1.png" type="image/x-icon">
    <style>
        #area {
            top: 0;
            padding-left: 20px;
            padding-right: 20px;
            height: 100vh;
            background: #4e342e;
            color: black;
        }

        h2 {
            color: aliceblue;
            /* background-color: #616161; */
            border-radius: 8px;
            padding: 1em;
        }

        h1 {
            /* background-color: #616161; */
            border-radius: 8px;
            padding: .4em;
        }

        .back {
            color: aliceblue;
            background-color: #000;
            border-radius: 8px;
            padding: 1em;
            font-family: sans-serif;
            font-size: larger;
            font-weight: bold;
        }

        #back-link {
            text-decoration: none;
            color: chocolate;
        }

        #bottom_bar {
            background-color: #3e2723;
            margin-left: 5px;
            margin-right: 5px;
            border-radius: 8px;
            padding: 1em;
        }
    </style>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-VCMHYS7QJ4');
    </script>
</head>
<body>
    <div class="area" id="area">
        <h2 class="back">
            <%- terms.title %>
        </h2>
        <div class="back">
            <%- terms.body %>
        </div>
        <p class="back">Time updated: <%= terms.time %>
        </p>
        <p class="back">Date updated: <%= terms.date %>
        </p>
        <div class="bottom_bar" id="bottom_bar">
            <footer class="footer">
                <center>
                    <a href="/login" id="back-link">Create account</a>
                </center>
            </footer>
        </div>
    </div>

</body>

</html>